@import 'reset.css';
@import 'vars.css';
@import 'style.css';
@import 'hover.css';
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600;700;800&display=swap');

body {
    color: var(--text-color);
    background-color: var(--background-color);
    font-family: 'Manrope', sans-serif;
}

.container {
    position: absolute;
    text-align: center;

    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);
}