/* Buttons Wrapper */
.buttons--wrapper {
    display: flex;
    flex-direction: column;

    row-gap: 10px;
}

/* Button */
.button {
    width: 550px;
    height: 200px;

    font-size: 30px;
    font-weight: 700;

    border-radius: 20px;
    border: 1px solid var(--border-color);

    background-color: var(--button-color);
}

.button__count {
    color: var(--count-color);
}

/* Clear */
.clear {
    width: 550px;
    height: 65px;

    font-size: 18px;
    font-weight: 700;

    border-radius: 15px;
    border: 1px solid var(--clear-btn-color);

    background-color: var(--clear-btn-color);

    transition: 0.2s ease-in-out;
}

/* Message */
.message {
    display: flex;
    align-items: center;
    justify-content: center;

    margin-bottom: 40px;

    width: 550px;
    height: 65px;

    font-size: 18px;
    font-weight: 700;

    border-radius: 15px;
    border: 1px solid var(--message-color);

    background-color: var(--message-color);
}